body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/background.avif');
  background-size: cover;
  background-color: aquamarine;
}

.game {
  max-width: 560px;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  border-radius: 10%;
  background-color: rgb(0, 0, 0, 0.5);
}

.game img {
  width: 70px;
  height: 70px;
}

.title {
  color: #fff;
}

.stats {
  display: flex;
  flex-direction: row;
  width: 560px;
  justify-content: space-around;
  color: #fff;
}

.popup {
  visibility: hidden;
  background-color:rgba(0, 0, 0, 0.3);
  z-index: 10;
  height: 100%;
  width: 100%;  
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-popup {
  background-color:rgba(0, 0, 0, 0.8  );
  padding: 2% 5%;
  font-size: larger;
  border-radius: 20px;
  text-align: center;
}
.small-text {
  font-size: medium;
}

@media screen and (max-width: 600px) {
  body, html {
    height: 100%;
    width: 100%;
  }
  .game {
    width: 330px;
    height: 330px;
    display: grid;
    padding: 3%;
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }
  .game img {
    width: 40px;
    height: 40px;
  }
  .stats {
    width: 300px;
  }
  .popup {
    visibility: visible;
  }
}
